<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Unknown</string>
	<key>Buffer Order</key>
	<array>
		<string>Actor</string>
		<string>Data</string>
		<string>Editor</string>
		<string>Font</string>
		<string>Game</string>
		<string>Ghost</string>
		<string>Level</string>
		<string>Main</string>
		<string>Map</string>
		<string>Music</string>
		<string>Pacman</string>
		<string>Utils</string>
	</array>
	<key>Created</key>
	<date>2011-11-25T21:59:10Z</date>
	<key>Description</key>
	<string>No description available</string>
</dict>
</plist>
